.box {
    width: 100px;
    height: 100px;
    background-color: #1478bb;
    margin: 50px;
    transition: transform 0.5s;
  } 

.box {
    transform: rotate(30deg); /* ელემენტი ტრიალებს 30 გრადუსით */
  }

.box {
    transform: scale(1.5); /* ელემენტი 1.5-ჯერ გაიზარდა */
  }
  
.box {
    transform: rotate(45deg) scale(1.2) skewY(15deg);
  }
  
