body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
}

.card:active {
    transform: translate(-50px, -50px) scale(1.5) rotate(-30deg) skew(-10deg, -10deg);
    transform-origin: -20px -20px;
}
